/ui/Ui_MainWindow_Alternated.py
/ui/Ui_MainWindow_Alternated.ui
/ui/Ui_MainWindow_Bak.py
/ui/Ui_MainWindow_bak.ui
/widgets/mainWindow_Alternated.py
/resources_test.qrc
/resources_test_rc.py
/resources/gif/shield_example.gif
/resources/resources.qrc
